<ion-content class="fondologin">


  <div id="container">
    <div id="center">
      <ion-list-header>
        <ion-label id="fontstyle">Where to go?</ion-label>
      </ion-list-header>
    </div>
    <div id="imglogoaec">
      <ion-img src="https://f.ptcdn.info/233/027/000/1420650137-Untitled5-o.png"></ion-img>
    </div>

    <!-- Sliding item with expandable options on both sides -->
    <ion-item-sliding *ngFor="let aec of this.aeclist ">
      <ion-item-options side="start"></ion-item-options>

      <ion-item>
        <ion-avatar slot="start">
          <ion-img [src]="aec.img"></ion-img>
        </ion-avatar>
        <ion-label id="fontAecStayle" style="margin-top: 2%;">{{aec.country}}</ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="presentActionSheet(aec.country)" color="medium" expandable>
          More
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <!-- Sliding item with expandable options on both sides -->
  </div>
  <div text-left style="margin-top: 30px; padding: 0 10px;">
    <ion-button id="margin-button" (click)="popForward()" color="medium" shape="round" expand="full">
      back
      <ion-icon slot="end" name="md-log-in"></ion-icon>
    </ion-button>
  </div>
</ion-content>
