ion-content, #imglogoaec {
  --ion-background-color: #111d12;
}

.my-custom-class {
  --background: #e5e5e5;
}

/* DOES NOT WORK - not specific enough */
.action-sheet-group {
  background: #e5e5e5;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .action-sheet-group {
  background: #e5e5e5;
}

#container {
  text-align: center;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}
#center {
  text-align: center;
}

#marginstyle {
  margin-right: 30%;
  margin-left: 30%;
}

#imglogoaec {
  height: 200px;
  width: 200px;
  margin: auto;
  display: block;
}
#fontstyle {
  color: gray;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 40px;
  font: optional;
}

#fontAecStayle {
  color: gray;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 20px;
  font: optional;
}

@media only screen and (max-width: 800px) {

  #container {
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }

}
