ion-content, #imglogoaec {
  --ion-background-color: #111d12;
}

.my-custom-class {
  --background: #e5e5e5;
}

/* DOES NOT WORK - not specific enough */
.action-sheet-group {
  background: #e5e5e5;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .action-sheet-group {
  background: #e5e5e5;
}

#center {
  text-align: center;
  margin-top: 5%;
}

#marginlogo {
  margin-top: 3%;
  margin-right: 20%;
  margin-left: 20%;
}
#margintext{
  margin-right: 15%;
  margin-left: 15%;
}

#imglogoaec {
  height: 300px;
  width: 300px;
  margin: auto;
  margin-top: 3%;
  border-radius: 70%;
}
ion-card img {
  width: 20%; height: 20%;
}
#fontstyle {
  color: gray;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 60px;
  font: optional;
}
#titlestyle {
  color: gray;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 20px;
  font: optional;
}

#fontAecStayle {
  color: gray;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 20px;
  font: optional;
}

#discription {
  font-size: 16px;
  font-family: "Trebuchet MS", sans-serif;

}

@media only screen and (max-width: 800px) {
  #imglogoaec {
    height: 200px;
    width: 200px;
    margin: auto;
    margin-top: 3%;
    border-radius: 70%;
  }

  #marginlogo {
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
  }

  #margintext{
    margin-right: 5%;
    margin-left: 5%;
  }

  #fontstyle {
    font-size: 30px;
  }
}

