ion-content, #imglogoaec {
  --ion-background-color: #999892;
}
#container {
  text-align: center;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

#margin-button{
  text-align: center;
  margin-top: 3%;
  margin-left: 30%;
  margin-right: 30%;
  }
#marginstyle{
  margin-right: 30%;
  margin-left: 30%;

}
