
<ion-content>
  <div id="container">
    <ion-list-header>
      <ion-label>สินค้าที่เลือก</ion-label>
    </ion-list-header>
  </div>

  <ion-card id="container">
    <ion-label id="styletext">รายการของสินค้า <br></ion-label>
    <ion-row>
      <ion-col>
        <ion-label id="styletext"> ชื่อสินค้า </ion-label>
        <ion-item *ngFor='let pro of this.productlist; let i = index'>
          <ion-label>
         ชิ้นที่ {{i+1}} : {{this.productlist[i]}}
          </ion-label>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-label id="styletext"> ราคา </ion-label>
        <ion-item *ngFor='let pri of this.pricelist; let i = index'>
          <ion-label >
            {{this.pricelist[i]}} $
          </ion-label>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-card>


  <ion-item id="marginstyle">
    <ion-label>ราคารวม {{sumitem}} $</ion-label>
  </ion-item>

  <ion-button id="margin-button" (click)="showAlert()" color="tertiary" shape="round" expand="full">
    ยืนยัน
    <ion-icon slot="end" name="md-log-in"></ion-icon>
  </ion-button>

  <ion-button id="margin-button" (click)="popForward()" color="light" shape="round" expand="full">
    แก้ไข
    <ion-icon slot="end" name="md-log-in"></ion-icon>
  </ion-button>
</ion-content>
