
<ion-content [fullscreen]="true">
  <div id="body">

      <div style="text-align: center;">
        <ion-label style="color: black; font-weight: bold; font-size: 30px;" >Ionic Project 63/2</ion-label>
      </div>

    <div style="margin-top: 10%;">
      <strong>List Project</strong>
      <p>Week2 Sign in page </p>
      <ion-button id="margin-button"  (click)="signin()" color="dark" shape="round" expand="full">
        Go To Page
        <ion-icon slot="end" name="md-log-in"></ion-icon>
      </ion-button>

      <p>Week3 BMI </p>
      <ion-button id="margin-button" (click)="bmipage()" color="dark" shape="round" expand="full">
        Go To Page
        <ion-icon slot="end" name="md-log-in"></ion-icon>
      </ion-button>
    </div>


    <div style="margin-top: 10%;">
      <strong>List Homework</strong>

      <p>Week3 P.1 : Create My Catalog App to make order, using Lists as follows </p>
      <ion-button id="margin-button"  (click)="catalogpage()" color="dark" shape="round" expand="full">
        Go To Page
        <ion-icon slot="end" name="md-log-in"></ion-icon>
      </ion-button>

      <p>Week3 P.2 : Tarvel AEC</p>
      <ion-button id="margin-button"  (click)="aecpage()" color="dark" shape="round" expand="full">
        Go To Page
        <ion-icon slot="end" name="md-log-in"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
